#blocker {
	/*display: block;*/
	position: absolute;
	text-align: center;
	color: white;
	right: 33%;
}
h1 {
	margin-bottom: 0px;
}
h3 {
	margin: 2px;
}
@font-face {
	font-family: "cinzel";
	src: url(../fonts/Cinzel-Regular.otf);
}
.cinzel {
	font-family: "cinzel";
	font-size: 3rem;
	display: inline-block;
	text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.cinzel-black {
	font-family: "cinzel";
	font-size: 3rem;
	color: black;
	text-shadow:
    -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
	/*background-color: white;*/
/*	background-image: url('/images/test.jpg');
	background-repeat: no-repeat;*/	
	display: inline-block;
}