#container {
	/*display: block;*/
	position: absolute;
	text-align: center;
	color: white;
	right: 30%;
}
h1 {
	margin-top: .5rem;
	margin-bottom: 0px;
}
h3 {
	margin: 2px;
}
@font-face {
	font-family: "cinzel";
	src: url(../fonts/Cinzel-Regular.otf);
}
.cinzel {
	font-family: "cinzel";
	font-size: 3rem;
	display: inline-block;
	text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.cinzel-black {
	font-family: "cinzel";
	font-size: 3rem;
	color: black;
	text-shadow:
    -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
	/*background-color: white;*/
/*	background-image: url('/images/test.jpg');
	background-repeat: no-repeat;*/	
	display: inline-block;
}
@font-face {
	font-family: "space-age";
	src: url(../fonts/space-age.ttf);
}
button {
	border: 0px;
	background-color: white;
	width: 3.5rem;
	margin: 0px .5rem;
	opacity: .4;
}
button:active {
  font-size: 1.5rem;
  width: 6rem;
	margin: 0px 1rem;
}
.planets {
	width: 60px;
	/*height: 200px;*/
	/*display: inline-block;*/
	position: absolute;
}
.planet-info {
	position: absolute;
	bottom: 0%;
	color: white;
	right: 30%;
	text-align: center;
	width: 500px;
	/*font-size: 1.5rem;*/
	background-color: rgba(255, 255, 255, 0.2);
	/*margin-right: auto;*/
	/*margin-left: auto;*/
	/*float: bottom;*/
}
.planet-info > h2 {
	font-family: "space-age";
	font-size: 3rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
}
.planet-info > p {
	margin-top: 6px;
	margin-bottom: 6px;
	font-family: "Arial", Helvetica, sans-serif;
}